.comic-sans-bold[b-uu1fmmhrh7] {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 12px;
    /*font-weight: bold;*/
}

/*-----------------*/

.container[b-uu1fmmhrh7] {
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

.card[b-uu1fmmhrh7] {
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

.form-group[b-uu1fmmhrh7] {
    margin-bottom: 15px;
}

.form-control[b-uu1fmmhrh7] {
    background-color: #f2f2f2; /* Grey background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
}

.btn[b-uu1fmmhrh7] {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: tomato;
}

