@page "/announcements/{Id:int}"
@using RealEstate.Web.Models
@inject HttpClient Http
@inject NavigationManager NavManager

@* <button class="btn btn-light"> *@
@*     <a href="/announcements">Mergi la anunturi</a> *@
@* </button> *@


<div class="button-container">
    <button class="btn btn-outline-primary" @onclick="@(() => { NavManager.NavigateTo("/announcements"); })">Toate anunturile</button>
</div>
<br/>
<br/>
@if (announcement != null)
{
    <div class="container">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-10-title">
                    <span >@announcement.Title</span>
                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <div class="details-for-announcement">
        <div class="details-for-announcement-det">
            <text>Detalii</text>
        </div>

        <br/>
        <text>@announcement.Property.Details</text>
    </div>

    <br/>
    <div class="table-ditails">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th scope="row">Pret</th>
                <td colspan="2">@announcement?.Property.Price</td>
                <th scope="row">Teren</th>
                <td colspan="2">@announcement?.Property.LandArea</td>
            </tr>
            <tr>
                <th scope="row">An Constructie</th>
                <td colspan="2">@announcement?.Property.ConstructionYear</td>
                <th scope="row">Suprafata utila</th>
                <td colspan="2">@announcement?.Property.HouseUsableArea</td>
            </tr>
            <tr>
                <th scope="row">Camere</th>
                <td colspan="2">@announcement?.Property.RoomsNumber</td>
                <th scope="row">Bai</th>
                <td colspan="2">@announcement?.Property.BathroomsNumber</td>
            </tr>
            <tr>
                <th scope="row">Etaje</th>
                <td colspan="2">@announcement?.Property.FloorsTotalNumber</td>
                <th scope="row">Tip Proprietate</th>
                <td colspan="2">@announcement?.Property.PropertyType</td>
            </tr>
            <tr>
                <th scope="row">Sursa de incalzire</th>
                <td colspan="2">@announcement?.Property.HeatingSource</td>
                <th scope="row">Utilitati</th>
                <td colspan="2">@announcement?.Property.Utilities</td>
            </tr>
            <tr>
                <th scope="row">Tip Teren</th>
                <td colspan="2">@announcement?.Property.HouseLandDetails</td>
                <th scope="row">Suprafata totala locuinta</th>
                <td colspan="2">@announcement?.Property.HouseTotalArea</td>
            </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <p> Announcement not found </p>
}
<br/>
<br/>
<FooterPage></FooterPage>

@code {

    private List<AnnouncementResponseModel> responseContent = new();

    [Parameter]
    public int Id { get; set; }

    AnnouncementResponseModel? announcement;

    protected override async Task OnInitializedAsync()
    {
        announcement = await Http.GetFromJsonAsync<AnnouncementResponseModel>($"/announcement/{Id}");
    }

    private async Task SendQuery()
    {
        responseContent = await Http.GetFromJsonAsync<List<AnnouncementResponseModel>>("announcement");
    }


}