@page "/FooterPage"

<section id="bottom-footer" class="">
    <div class="container-footer">
        <div class="row">
            <div id="container-social" class="container-social col-lg-6 col-md-4 col-sm-4 col-xs-12 col-12">
                <span class="heading">Urmăreşte-ne</span>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="_blank" rel="noreferrer">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="promo-app col-lg-6 col-md-8 col-sm-8 col-xs-12 col-12">
                <span class="heading">Instalează Aplicaţia</span>
                <ul>
                    <li>
                        <a href="https://play.google.com/store/apps" target="_blank" rel="nofollow noopener">
                            <img class="lazyshow lazyloaded" loading="lazy" height="40" width="134" src="https://www.imobiliare.ro/imagini/footer/app-store-google.png" alt="aplicaţia imobiliare.ro pe Google Play">
                        </a>
                    </li>
                    <li>
                        <a href="https://itunes.apple.com/ro/app/" target="_blank" rel="nofollow noopener">
                            <img class="lazyshow lazyloaded" loading="lazy" height="40" width="120" src="https://www.imobiliare.ro/imagini/footer/app-store-apple.svg" alt="aplicaţia imobiliare.ro pe App Store">
                        </a>
                    </li>
                    <li>
                        <a href="https://appgallery.huawei.com/#/app" target="_blank" rel="nofollow noopener">
                            <img class="lazyshow lazyloaded" loading="lazy" height="40" width="133" src="https://www.imobiliare.ro/imagini/footer/app-store-huawei.svg" alt="aplicaţia imobiliare.ro pe Huawei AppGallery">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copy-right col-lg-8 col-md-6 col-sm-8 col-xs-12 col-12">
                <hr class="visible-xs">
                <p>© Realmedia Network 1999-2023. Toate drepturile rezervate. www.realestate.ro şi sigla www.realestate.ro sunt mărci înregistrate.</p>

            </div>
            <div class="linkuri-legale col-lg-4 col-md-6 col-sm-4 col-xs-12 col-12">
                <ul>
                    <li>
                        <a href="https://www.google.com/">Politica de confidenţialitate</a> <span class="footer-link-spacer">|</span> <a href="javascript:" id="pref_cookies">Preferinţe Cookies</a> <button id="ot-sdk-btn" class="ot-sdk-show-settings" style="display: none !important;">Setez preferinte cookies manual</button>
                        <br><a href="http://www.anpc.gov.ro/" target="_blank" rel="nofollow noopener noreferrer">ANPC</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@code {

}