.overlay,
.img-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /*border-radius: 20px;*/
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-body);
}

/* container style */

.container {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    margin: 35px 0;
}

/* cards style */

.cards::before {
    /*content: "featured";*/
    position: absolute;
    z-index: 5;
    color: white;
    background-color: var(--bg-featured);
    text-transform: capitalize;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    padding: 7px 7px;
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
    position: relative;
}

.cards::after {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    left: 81.6px;
    border: 16.4px solid transparent;
    /*border-left-color: var(--bg-featured);*/
    transform: translateY(-50%);
}

/* card style */

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
    box-shadow: 0px 0px 7px 3px #dfdfdf;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-7px);
}

/* img-overlya style */

.img-overlay {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    /*border-radius: 20px;*/
}

.hot-home:before {
    /*content: "hot";*/
    position: absolute;
    padding: 3px 7px;
    background-color: var(--bg-hot);
    z-index: 3;
    bottom: 10px;
    left: 10px;
    color: white;
    text-transform: capitalize;
}

.img-overlay img {
    width: 100%;
    z-index: 1;
    border-radius: 20px;
}

.img-overlay img:hover + div {
    width: 100%;
    /*border-radius: 20px;*/
}

figcaption {
    padding: 5px 0 0 0;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--h2-text-color);
    font-size: 1.2rem;
    text-align: center;
}

/*aici*/
.overlay {
    width: 0;
    height: 30%;
    display: grid;
    place-content: center;
    background-color: var(--backgound-imgage);
    opacity: 0.8;
    z-index: 2;
    transition: all 0.5s ease 0.1s;
}

.overlay:hover {
    width: 100%;
}

.overlay:hover > a {
    display: block;
    text-align: left; /* Adjust text alignment to left */
    border-color: var(--border-view-color);
    padding-left: 20px; /* Add left padding to create space from the left edge */
}

.overlay a {
    display: none;
    width: 140px;
    padding: 15px 0;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: border 10s ease;
}


.cont {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
}

.icons-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.icons-img button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    top: -40px;
    z-index: 10;
}

.icons-img button:first-of-type {
    right: 55px;
}

.icons-img button:last-of-type {
    right: 20px;
}

.icons-img button:first-of-type:hover {
    right: 55px;
    color: #ff3232;
}

.icons-img i {
    font-size: 25px;
}

/* card-content styles */

.card-content {
    padding: 0px 30px 30px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    height: 150px;
    /*aici*/
    font-size: 14px;
    /*border-radius: 20px;*/
}

.card-content p {
    color: var(--p-text-color);
}

/* icons-home style */

.icons-home {
    display: flex;
    justify-content: space-between;
}

.name-icon {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name-icon > span {
    text-transform: capitalize;
    color: var(--h2-text-color);
}

/* icon styles */

.icon {
    display: flex;
    align-items: center;
}

.icon i {
    color: var(--icon-info-color);
    font-size: 20px;
    margin-right: 10px;
}

.icon span {
    vertical-align: middle;
}


@media screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }

    /* card-content style */
}

@media screen and (max-width: 700px) {
    .cards {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }

    .card {
        grid-column-end: span 12;
    }

    /* icons-home style */
    .card-content {
        font-size: 16px;
        /*font-family: "Calibri Light", serif;*/
    }

    /* price style */
    .price span:last-of-type {
        color: var(--price-text-color);
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 20px repeat(12, minmax(auto, 1fr)) 20px;
        grid-gap: 10px;
    }

    .cards {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }

    .card {
        grid-column-end: span 12;
    }

    /* card-content style */
}

.custom-font-details {
    font-family: Open Sans, serif;
}

.price {
    display: flex;
    justify-content: space-between;
}

.price .label {
    font-weight: bold; /* Apply a bold font to the label */
    color: #333;
}

.price .price-value {
    color: tomato; /* Change the price text color to red (you can use your preferred color) */
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
}

.text-first {
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 26px;
    text-align: center;
    color: tomato;
}

.header-main-presentation {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.img-presentation-firstPage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 50vh;*/
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    position: relative; /* Set the image container to relative positioning */
    /*display: inline-block;*/
}

/*---start: Img si text dupa proprietati----*/
.after-properties-overall {
    display: flex;
}

.after-properties-img {
    margin-left: 80px; /* Adjust the value as needed */
}

.after-properties-img img {
    /*max-width: 100%;*/
    height: auto;
}

.after-properties-text {
    flex: 1;
    padding: 20px; /* Optional: Add padding for spacing */
}

.after-properties-img img {
    max-width: 100%;
    height: auto;
}

.after-properties-overall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; /* Optional: Add gap for spacing */
}

.after-properties-img img {
    max-width: 100%;
    height: auto;
}

/*--- finish: Img si text dupa proprietati----*/


.phones-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 50vh;*/
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


/*search 2:*/
/* Style for the imobiliare search bar */
.imobiliare-search-bar {
    display: flex;
    align-items: center;
    max-width: 600px; /* Adjust the width as needed */
    margin: 20px auto; /* Adjust the margin as needed */
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    overflow: hidden;

    position: absolute; /* Set the search bar to absolute positioning */
    top: 20%; /* Position it 50% from the top of the parent container */
    left: 70%; /* Position it 50% from the left of the parent container */
    /*transform: translate(-50%, -50%); !* Center the search bar *!*/
    /*background-color: tomato; !* Add a background color to the search bar if needed *!*/
    /*padding: 10px;*/
}

/* Style for the search input */
.imobiliare-search-bar input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    /*background-color: tomato;*/
    /*culoarea background-ului din search*/
}

/* Style for the search button */
.imobiliare-search-bar button {
    background-color: #fcfcfc;
    border: none;
    padding: 15px;
    cursor: pointer;
}

/* Style for the search icon inside the button */
.imobiliare-search-bar button i {
    color: #555;
}

/* Add hover effect to the search button */
.imobiliare-search-bar button:hover {
    /*background-color: #f1f1f1;*/
    background-color: tomato;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.testimonials-container {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.testimonial {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: calc(76% + 60px);
    transform: translate(-50%, -50%);
}

.testimonial p {
    font-style: italic;
}

.testimonial-text p {
    font-style: italic;
    font-weight: bold;
}