/* /Pages/AnnouncementDetails.razor.rz.scp.css */
.announcement-details[b-kmqpv2oy7c] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
/* /Pages/Announcements.razor.rz.scp.css */

.search-container[b-h5mzox5osu] {
    text-align: center;
    margin: 20px;
}

#searchInput[b-h5mzox5osu] {
    padding: 10px;
    width: 300px;
}

#searchButton[b-h5mzox5osu] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}


/*----------------------------------*/

/* globale variable */

/*:root {*/
/*    --bg-body: #f4f4f4;*/
/*    --bg-hot: #dd3333;*/
/*    !*--bg-featured: #ea723d;*!*/
/*    --p-text-color: #7e8186;*/
/*    --icon-info-color: #808080;*/
/*    --icon-image-color: white;*/
/*    --h2-text-color: #1a1a1a;*/
/*    --price-text-color: #2fa89e;*/
/*    --backgound-imgage: #3b9f93;*/
/*    --border-view-color: #a4d2c3;*/
/*}*/

/*!* all element *!*/

/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*}*/

/*!* reset element *!*/

/*!* comman style *!*/

/*.overlay,*/
/*.img-overlay img {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 1;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*a:hover {*/
/*    color: white;*/
/*}*/

/*!* body style *!*/

/*body {*/
/*    font-family: "Open Sans", sans-serif;*/
/*    background-color: var(--bg-body);*/
/*}*/

/*!* container style *!*/

/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;*/
/*    grid-gap: 40px;*/
/*    margin: 35px 0;*/
/*}*/

/*!* cards style *!*/

/*.cards::before {*/
/*    !*content: "featured";*!*/
/*    position: absolute;*/
/*    z-index: 5;*/
/*    color: white;*/
/*    !*background-color: var(--bg-featured);*!*/
/*    text-transform: capitalize;*/
/*    top: 0;*/
/*    left: 0;*/
/*    transform: translateY(-50%);*/
/*    padding: 7px 7px;*/
/*}*/

/*.cards {*/
/*    grid-column: 2 / span 12;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(12, minmax(auto, 60px));*/
/*    grid-gap: 40px;*/
/*    position: relative;*/
/*}*/

/*.cards::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: 5;*/
/*    top: 0;*/
/*    left: 81.6px;*/
/*    border: 16.4px solid transparent;*/
/*    !*border-left-color: var(--bg-featured);*!*/
/*    transform: translateY(-50%);*/
/*}*/

/*!* card style *!*/

/*.card {*/
/*    grid-column-end: span 4;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease;*/
/*    background-color: white;*/
/*    box-shadow: 0px 0px 7px 3px #dfdfdf;*/
/*}*/

/*.card:hover {*/
/*    transform: translateY(-7px);*/
/*}*/

/*!* img-overlya style *!*/

/*.img-overlay {*/
/*    width: 100%;*/
/*    padding-top: 56.25%;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

/*.hot-home:before {*/
/*    content: "hot";*/
/*    position: absolute;*/
/*    padding: 3px 7px;*/
/*    background-color: var(--bg-hot);*/
/*    z-index: 3;*/
/*    bottom: 10px;*/
/*    left: 10px;*/
/*    color: white;*/
/*    text-transform: capitalize;*/
/*}*/

/*.img-overlay img {*/
/*    width: 100%;*/
/*    z-index: 1;*/
/*}*/

/*.img-overlay img:hover + div {*/
/*    width: 100%;*/
/*}*/

/*figcaption {*/
/*    padding: 30px 0 30px 30px;*/
/*    font-weight: 600;*/
/*    text-transform: capitalize;*/
/*    color: var(--h2-text-color);*/
/*    font-size: 1.2rem;*/
/*}*/

/*.overlay {*/
/*    width: 0;*/
/*    height: 100%;*/
/*    display: grid;*/
/*    place-content: center;*/
/*    background-color: var(--backgound-imgage);*/
/*    opacity: 0.8;*/
/*    z-index: 2;*/
/*    transition: all 0.5s ease 0.1s;*/
/*}*/

/*.overlay:hover {*/
/*    width: 100%;*/
/*}*/

/*.overlay:hover > a {*/
/*    display: block;*/
/*    text-align: center;*/
/*    border-color: var(--border-view-color);*/
/*}*/

/*.overlay a {*/
/*    display: none;*/
/*    width: 140px;*/
/*    padding: 15px 0;*/
/*    text-transform: capitalize;*/
/*    border: 2px solid transparent;*/
/*    transition: border 10s ease;*/
/*}*/

/*!* icons-img style *!*/

/*.cont {*/
/*    position: absolute;*/
/*    z-index: 6;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.icons-img {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.icons-img button {*/
/*    position: absolute;*/
/*    border: none;*/
/*    background-color: transparent;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*    top: -40px;*/
/*    z-index: 10;*/
/*}*/

/*.icons-img button:first-of-type {*/
/*    right: 55px;*/
/*}*/

/*.icons-img button:last-of-type {*/
/*    right: 20px;*/
/*}*/

/*.icons-img button:first-of-type:hover {*/
/*    right: 55px;*/
/*    color: #ff3232;*/
/*}*/

/*.icons-img i {*/
/*    font-size: 25px;*/
/*}*/

/*!* card-content styles *!*/

/*.card-content {*/
/*    padding: 0px 30px 30px;*/
/*    line-height: 22px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    height: 200px;*/
/*    font-size: 14px;*/
/*}*/

/*.card-content p {*/
/*    color: var(--p-text-color);*/
/*}*/

/*!* icons-home style *!*/

/*.icons-home {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.name-icon {*/
/*    height: 60px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.name-icon > span {*/
/*    text-transform: capitalize;*/
/*    color: var(--h2-text-color);*/
/*}*/

/*!* icon styles *!*/

/*.icon {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.icon i {*/
/*    color: var(--icon-info-color);*/
/*    font-size: 20px;*/
/*    margin-right: 10px;*/
/*}*/

/*.icon span {*/
/*    vertical-align: middle;*/
/*}*/

/*!* price style *!*/

/*.price {*/
/*    text-transform: capitalize;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.price span:last-of-type {*/
/*    color: var(--price-text-color);*/
/*    font-size: 18px;*/
/*}*/

/*!* media screen style *!*/

/*@media screen and (max-width: 1000px) {*/
/*    .card {*/
/*        grid-column-end: span 6;*/
/*    }*/
/*    !* card-content style *!*/
/*}*/

/*@media screen and (max-width: 700px) {*/
/*    .cards {*/
/*        grid-template-columns: repeat(12, minmax(auto, 1fr));*/
/*        grid-column-gap: 10px;*/
/*        grid-row-gap: 30px;*/
/*    }*/
/*    .card {*/
/*        grid-column-end: span 12;*/
/*    }*/
/*    !* icons-home style *!*/
/*    .card-content {*/
/*        font-size: 16px;*/
/*    }*/
/*    !* price style *!*/
/*    .price span:last-of-type {*/
/*        color: var(--price-text-color);*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 500px) {*/
/*    .container {*/
/*        grid-template-columns: 20px repeat(12, minmax(auto, 1fr)) 20px;*/
/*        grid-gap: 10px;*/
/*    }*/
/*    .cards {*/
/*        grid-template-columns: repeat(12, minmax(auto, 1fr));*/
/*        grid-column-gap: 10px;*/
/*        grid-row-gap: 30px;*/
/*    }*/
/*    .card {*/
/*        grid-column-end: span 12;*/
/*    }*/
/*    !* card-content style *!*/
/*}*/
/* /Pages/Login.razor.rz.scp.css */
html[b-nejwiy6q2a] {
    height: 100%;
}

body[b-nejwiy6q2a] {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box[b-nejwiy6q2a] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    /*color: #6a6f8c;*/
    background: #5862b9; /*rgba(0, 0, 0, 0);*/
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    /*background-image: url("");*/
}

.login-box h2[b-nejwiy6q2a] {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box[b-nejwiy6q2a] {
    position: relative;
    font-family: "Helvetica Neue", sans-serif;
    color: #343333
}


.login-box .user-box input[b-nejwiy6q2a] {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    border-radius: 10px;

}

.login-box .user-box label[b-nejwiy6q2a] {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label[b-nejwiy6q2a],
.login-box .user-box input:valid ~ label[b-nejwiy6q2a] {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a[b-nejwiy6q2a] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    /*color: #03e9f4;*/
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-weight: bold;
}

.login-box a:hover[b-nejwiy6q2a] {
    /*background: #03e9f4;*/
    background: slateblue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span[b-nejwiy6q2a] {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1)[b-nejwiy6q2a] {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    /*background: linear-gradient(90deg, transparent, #03e9f4);*/
    background: linear-gradient(90deg, transparent, slateblue);
    animation: btn-anim1-b-nejwiy6q2a 1s linear infinite;
}

@keyframes btn-anim1-b-nejwiy6q2a {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2)[b-nejwiy6q2a] {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    /*background: linear-gradient(180deg, transparent, #03e9f4);*/
    background: linear-gradient(180deg, transparent, slateblue);
    animation: btn-anim2-b-nejwiy6q2a 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2-b-nejwiy6q2a {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3)[b-nejwiy6q2a] {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    /*background: linear-gradient(270deg, transparent, #03e9f4);*/
    background: linear-gradient(270deg, transparent, slateblue);
    animation: btn-anim3-b-nejwiy6q2a 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3-b-nejwiy6q2a {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4)[b-nejwiy6q2a] {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    /*background: linear-gradient(360deg, transparent, #03e9f4);*/
    background: linear-gradient(360deg, transparent, slateblue);
    animation: btn-anim4-b-nejwiy6q2a 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4-b-nejwiy6q2a {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
/* /Pages/NotFoundPage.razor.rz.scp.css */
/*======================
    404 page
=======================*/


.page_404[b-9cny6iwg7i] {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img[b-9cny6iwg7i] {
    width: 100%;
}

.four_zero_four_bg[b-9cny6iwg7i] {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1[b-9cny6iwg7i] {
    font-size: 80px;
}

.four_zero_four_bg h3[b-9cny6iwg7i] {
    font-size: 80px;
}

.link_404[b-9cny6iwg7i] {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404[b-9cny6iwg7i] {
    margin-top: -50px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p98c1wqpsg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p98c1wqpsg] {
    flex: 1;
}

.sidebar[b-p98c1wqpsg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    /*background-color: white;*/
}

.top-row[b-p98c1wqpsg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-p98c1wqpsg]  a, .top-row[b-p98c1wqpsg]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-p98c1wqpsg]  a:hover, .top-row[b-p98c1wqpsg]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-p98c1wqpsg]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p98c1wqpsg] {
        display: none;
    }

    .top-row.auth[b-p98c1wqpsg] {
        justify-content: space-between;
    }

    .top-row[b-p98c1wqpsg]  a, .top-row[b-p98c1wqpsg]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p98c1wqpsg] {
        flex-direction: row;
    }

    .sidebar[b-p98c1wqpsg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p98c1wqpsg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-p98c1wqpsg]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-p98c1wqpsg], article[b-p98c1wqpsg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-qb0rtjrvg0] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-qb0rtjrvg0] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-qb0rtjrvg0] {
    font-size: 1.1rem;
}

.oi[b-qb0rtjrvg0] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-qb0rtjrvg0] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-qb0rtjrvg0] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-qb0rtjrvg0] {
    padding-bottom: 1rem;
}

.nav-item[b-qb0rtjrvg0]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-qb0rtjrvg0]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-qb0rtjrvg0]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-qb0rtjrvg0] {
        display: none;
    }

    .collapse[b-qb0rtjrvg0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-qb0rtjrvg0] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
